body {
    margin: 0;
    font-family: 'Source Code Pro', monospace;
    color: #ffffff;
    font-size: 17px;
}
h1 {
    font-family: 'Poppins', sans-serif;
    color: #FDEEDC;
    font-size: 40px;
    text-align: center;
}
h2 {
    font-family: 'Poppins', sans-serif;
    color: #f7d8b2;
    font-size: 30px;
    text-align: center;
}
h3 {
    text-align: center;
}
p {
    text-align: center;
}
.top {
    padding: 200px 0;
    background-image: url(../images/index-bg.jpg);
}
.middle {
    padding: 175px;
    background-color: #4a464a;
    border-top: 10px outset #9f9f9f;
}
.bottom {
    padding: 50px;
    background-color: #2b2a2a;
    text-align: center;
    border-top: 10px outset #9f9f9f;
}
a {
    color: #b5f5ff;
    text-decoration: none;
}
a:link {
    color: #b5f5ff;
    text-decoration: none;
}
a:visited {
    color: #ffc8c8e9;
    text-decoration: none;
}  
a:hover {
    color: #e9fb9a;
    text-decoration: none;
}
a:active {
    color: #dab8ff;
    text-decoration: none;
}
.button {
    background-color: #2d2d2d;
    padding: 10px 10px;
    text-align: center; 
    display: inline-block;
    border: 5px solid #72b9d5;
    border-radius: 5px;
}
hr {
    border: 10px dotted #ffffff;
    border-style: dotted none none; 
    border-width: 5px;
    width: 50px;
    margin: 30px auto 30px auto;
}
dd {
    list-style-type: none;
    display: inline;
}
dt {
    display: inline;
}
.sun {
    position: absolute;
    top: 50px;
    left: 200px;
    width: 256px;
}
.plane {
    position: absolute;
    top: 200px;
    right: 250px;
    width: 128px;
}
.tree {
    width: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.brain {
    width: 50%;
}
.arch {
    width: 45%;
}
.computer {
    width: 50%;
}
.headshot {
    border: 10px ridge #32a1ce;
    border-radius: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 128px;
}
.row {
    width: 50%;
    margin: 5px auto;
}
.column {
    display: inline-block;
}
.left {
    float: left;
    width: 35%;
}
.right {
    width: 65%;
}
input[type=submit] {
    background-color: #2d2d2d;
    padding: 10px 20px;
    text-align: center; 
    border: 1px solid #72b9d5;
    border-radius: 5px;
    display: block;
    margin: auto;
    color: #b5f5ff;
}
input[type=submit]:hover {
    color: #e9fb9a;
}
.contact {
    background-image: url(../images/contact-bg.jpg);
    padding: 175px;
}